h1 {
    text-shadow: 4px 4px white;
}

.gallery{
    padding: 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 40px;

    font-size: 30px;
}


.gallery img {
    border-radius: 10%;
}

.htwo {
    font-size: 130%;
    width: 80%;
    margin: auto;
    padding: 0% 3% 0% 3%;
    text-align: center;
    border: 1px black dashed;
    background-color: rgb(236, 236, 247);
    padding: 10px;
}

#off {
    display: none;
}


.buttons {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 3%;
    text-align: center;
    background-color: lavender;
    border: 1px dashed black;
    width: 100%;
}





@media screen and (min-width:700px) {

    #off {
        display: inline-block;
        font-weight: bold;
    }

    .buttons {
        color: transparent;
    }

    .gallery {
        grid-template-columns: 2fr 3fr 2fr;
        grid-gap: 20px;
        font-size: 20px;
    }

    .gallery img {
        border-radius: 0px;
    }

}


@media screen and (min-width:1000px) {

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

}