/* Styling across all 3 pages: Header, Footer, basic styling? */

html {
    background: url('../images/green.webp') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.skip a {
    position: absolute;
    margin-top: -40px;
}

.skip a:focus {
    position: absolute;
    margin-top: 20px;
}

.active {
    text-decoration: overline 3px;
    font-weight: bold;
}

/* header {
    display: flex;
    flex-direction: column;
} */

nav {
    padding: 2% 5% 2% 5%;
    text-align: center;
    
    background: rgb(235,213,254);
    background: linear-gradient(90deg, rgba(235,213,254,1) 0%, rgba(250,254,253,1) 50%, rgba(235,213,254,1) 100%);
}

nav li {
    padding: 20px 10px 20px 10px;
}

nav a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    color: #10932A;
    /* padding: 10% 0% 0% 0%; */
}

.branches {
    display: none;
}

footer {
    width: 60%;
    margin: 0 auto;
    border: 1px black dashed;
    margin-bottom: 2%;
    padding: 1%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footlabel {
    font-size: 20px;
}

.resources {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img {
    max-width: 100%;
}


h1 {

    font-size: 40px;
    font-weight: 600;

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 2%;

    /* background-image: url('/images/dense_leaves.webp');
    background-size: 250px;
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
    

}

@media screen and (min-width:730px) {

    /* header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    } */

    nav li {
        display: inline-block;
    }

}

@media screen and (min-width:900px) {

    .branches {
        display: inline-block;
        position: absolute;
        top: 0;
        /* left: 0; */
        width: 15%;

    }

    #smallbranch1 {
        left: 0;
    }

    #smallbranch2 {
        right: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    #branch1 {
        display: none;
    }

    #branch2 {
        display: none;
    }

}

@media screen and (min-width:1100px) {

    .branches {
        opacity: 0.4;
        width: 25%;
    }

    #smallbranch1 {
        display: none;
    }

    #smallbranch2 {
        display: none;
    }

    #branch1 {
        display: inline-block;
        left: 0;
    }

    #branch2 {
        display: inline-block;
        right: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }


}

@media screen and (min-width:1250px) {


    .branches {
        opacity: 1;
    }
}



